* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
header h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.board {
    margin: 100px auto 0;
    border-collapse: collapse;
}
.board td {
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 100px;
    color: white;
}
.table1 {
    border-bottom: 4px solid white;
}
#table1Center {
    border-left:  4px solid white;
    border-right:  4px solid white; 
}
.table2 {
    border-bottom: 4px solid white;
}
#table2Center {
    border-left: 4px solid white;
    border-right: 4px solid white; 
}
#table3Center {
    border-left: 4px solid white;
    border-right: 4px solid white; 
}
.board td:hover {
    background-color: lightskyblue;
}
input {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
}
